.cover-art {
    max-width: 300px;
    max-height: 300px;
}

.track {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
    &:hover {
        color: lightgrey;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.player-controls {
    display: flex;
    justify-content: center;

    .pauseplay {
        font-size: 5em;
    }
}