.cover-art {
    max-width: 300px;
    max-height: 300px;
}

.track {
    cursor: pointer;

    &.current-song {
        color: grey;
    }
}

.clickable {
    cursor: pointer;

    &:hover {
        color: lightgrey;
    }
}

.container {
    display: flex;
    flex-direction: column;
}


::ng-deep {
    .player-time-slider .ngx-slider {
        .ngx-slider-bar {
            background: #ccc;
            height: 8px;     
            border-radius: 0px;
            cursor: pointer;
        }
        .ngx-slider-selection {
            background: #eee;
            visibility: visible;
            box-sizing: border-box;
            border-radius: 0px;
            cursor: pointer;
        }
        .ngx-slider-pointer {
            width: 8px;
            height: 8px;
            border-radius: 0px;
            top: auto;
            background-color: #eee;
        }
        .ngx-slider-pointer:after {
            display: none;
        }
    }
}

.player-time-slider {
    overflow: hidden;

    .time-numbers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.player-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    .pauseplay {
        font-size: 5em;
    }

    .previous-next-song {
        font-size: 2em;
    }

    .mode-enabled {
        color: rgb(68, 118, 255);

        &:hover {
            color: rgb(110, 149, 255);
        }
    }

    .shuffle-mode {
        margin-right: 20px;
        font-size: 1.6em;
    }
    .repeat-mode {
        margin-left: 20px;
        font-size: 1.6em;
    }
}