.container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 1250px) {
        flex-direction: row;
        align-items: flex-start;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (min-width: 1250px) {
            padding-top: 100px;
        }

        .cover-art {
            max-width: 380px;
            max-height: 380px;
            width: 95%;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        }

        .play-album-button {
            font-size: 4em;
            cursor: pointer;

            &:hover {
                color: lightgrey;
            }
        }
    }

    .tracklist {
        width: 100%;
        max-width: 800px;
        padding-left: 50px;
        padding-right: 50px;

        table {
            width: 100%;
        }
    }

    .current-song {
        background-color: #c5ceffd2
    }

    .mat-row:hover .mat-cell {
        background-color: #5a68b4;
        color: white;
        cursor: pointer;

        &:active {
            transform: translate(2px);
        }
    }
}