<div class="container" *ngIf="album">
    <div class="header">
        <img class="cover-art" src={{album.artwork}}>
        <div class="clickable" (click)="playSong(0)">
            <span class="material-icons play-album-button">play_circle</span>
        </div>
    </div>
    <p>{{album.title}} <span *ngIf="album.year">({{album.year}})</span></p>
    <p *ngIf="album.artist">{{album.artist}}</p>

    <table mat-table [dataSource]="album.tracks" class="mat-elevation-z8">

        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let track; let i = index;"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let track"> {{track.title}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row 
            (click)="playSong(i)" 
            [class.current-song]="indexOfSongPlaying === i"
            *matRowDef="let row; columns: displayColumns; let i = index"></tr>
    </table>

</div>

<div class="error-box" *ngIf="!album">No album was selected.</div>